body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  background-color: navy;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.logo {
  color: navy;
  background-color: white;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

header .link {
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
}

header * {
  margin: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

header *:hover {
  transform: scale(1.1);
}

main {
  margin-top: 100px;
}

.events-txt-h1 {
  color: black;
}

.events-box {
  
}